.layout {
    min-height: 100vh;
    background-color: #fff
}
.main {
    background: rgb(6,250,222);
background: radial-gradient(circle, rgba(6,250,222,1) 0%, rgba(132,45,253,1) 100%);
    padding: 0;
    max-width: 100%;
    min-height: 95vh;
    height: 100%;
}