<mat-tab-group dynamicHeight fitInkBarToContent >
  <!-- here we have unsame content , we couldnt use @*ngFor loops -->
  @if (pipelineData.type==="process-node") { @if( pipelineData.info ===
  "strings"){

  <mat-tab label="Configuration" class="info-tab">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="info-form">
      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>Function Name</mat-label>
        <mat-select formControlName="filterName">
          @for (filter of filters; track filter) {
          <mat-option [value]="filter.value">{{ filter.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <h2>Options :</h2>
      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>Fields to Process</mat-label>
        <mat-select formControlName="processFields">
          @for (field of fields; track field) {
          <mat-option [value]="field.value">{{ field.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="info-form__toggle">
        <mat-slide-toggle formControlName="sideToggle"></mat-slide-toggle>
        <mat-label>Create New Column</mat-label>
      </div>
      @if(myForm.get('sideToggle')!.value){
      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>add new column</mat-label>
        <input matInput />
      </mat-form-field>
      }
      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>Size</mat-label>
        <input matInput formControlName="size" type="number" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>Added Character</mat-label>
        <input matInput formControlName="addedChar" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>Position</mat-label>
        <mat-select formControlName="filterName">
          @for (position of positions; track position) {
          <mat-option [value]="position.value">{{
            position.viewValue
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="info-form__buttons">
        <button
          mat-flat-button
          type="button"
          (click)="onReset()"
          class="reset-button"
        >
          Reset
        </button>
        <button
          mat-flat-button
          color="accent"
          type="submit"
          [disabled]="!myForm.valid"
        >
          Save
        </button>
      </div>
    </form>
  </mat-tab>

  <mat-tab label="Info">
    <h3 class="metric-part-title">General</h3>
    <p class="metric-part-key">Time Spent</p>
    <p class="metric-part-value">00:00:00</p>

    <h3 class="metric-part-title">Throughput</h3>
    <div class="metric-box-values">
      <div class="metric-part-value">
        <p>00:00:00</p>
        <p class="metric-part-value-description">record/sec</p>
      </div>
      <div class="metric-part-value">
        <p>00:00:00</p>
        <p class="metric-part-value-description">bytes/sec</p>
      </div>
    </div>
    <h3 class="metric-part-title">Volume</h3>
    <div class="metric-box-values">
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">records read</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">bytes read</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">records produced</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">Bytes produced</p>
      </div>
    </div>

    <button mat-stroked-button color="primary">view logs</button>
  </mat-tab>
  }@else {
  <mat-tab label="Number Actions" class="info-tab">
    <div class="info-form">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>

      <mat-label>Step</mat-label>
      <input matInput />

      <mat-label>Updated</mat-label>
      <input matInput />

      <div class="info-form__buttons">
        <button mat-flat-button type="button" class="reset-button">
          Reset
        </button>
        <button mat-flat-button color="accent" type="submit">Save</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Statics">
    <button mat-stroked-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Add
    </button>
    <app-table></app-table>
  </mat-tab>
  <mat-tab label="Info">
    <h3 class="metric-part-title">General</h3>
    <p class="metric-part-key">Time Spent</p>
    <p class="metric-part-value">00:00:00</p>

    <h3 class="metric-part-title">Throughput</h3>
    <div class="metric-box-values">
      <div class="metric-part-value">
        <p>00:00:00</p>
        <p class="metric-part-value-description">record/sec</p>
      </div>
      <div class="metric-part-value">
        <p>00:00:00</p>
        <p class="metric-part-value-description">bytes/sec</p>
      </div>
    </div>
    <h3 class="metric-part-title">Volume</h3>
    <div class="metric-box-values">
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">records read</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">bytes read</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">records produced</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">Bytes produced</p>
      </div>
    </div>

    <button mat-stroked-button color="primary">view logs</button>
  </mat-tab>
  } } @else if (pipelineData.type === "source-node" || pipelineData.type ===
  "destination-node") {
  <mat-tab label="info" class="info-tab">
    <div class="info-form">
      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>Step</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline" class="info-form__field">
        <mat-label>Updated</mat-label>
        <input matInput />
      </mat-form-field>

      <div class="info-form__toggle">
        <mat-slide-toggle></mat-slide-toggle>
        <mat-label>Compute Semantic Types</mat-label>
      </div>

      <div class="info-form__buttons">
        <button mat-flat-button type="button" class="reset-button">
          Reset
        </button>
        <button mat-flat-button color="accent" type="submit">Save</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Metrics">
    <h3 class="metric-part-title">General</h3>
    <p class="metric-part-key">Time Spent</p>
    <p class="metric-part-value">00:00:00</p>

    <h3 class="metric-part-title">Throughput</h3>
    <div class="metric-box-values">
      <div class="metric-part-value">
        <p>00:00:00</p>
        <p class="metric-part-value-description">record/sec</p>
      </div>
      <div class="metric-part-value">
        <p>00:00:00</p>
        <p class="metric-part-value-description">bytes/sec</p>
      </div>
    </div>
    <h3 class="metric-part-title">Volume</h3>
    <div class="metric-box-values">
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">records read</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">bytes read</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">records produced</p>
      </div>
      <div class="metric-part-value">
        <p>0</p>
        <p class="metric-part-value-description">Bytes produced</p>
      </div>
    </div>

    <button mat-stroked-button color="primary">view logs</button>
  </mat-tab>

  <mat-tab label="Variables">
    <button mat-stroked-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Add
    </button>
    <app-table></app-table>
  </mat-tab>
  }
</mat-tab-group>
