<mat-nav-list class="bottom-sheet-content">
  <a href="https://www.varzesh3.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Varzesh3</span>
    <span matLine>Sport News</span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Google Docs</span>
    <span matLine>Embed in a document</span>
  </a>

  <a href="https://sheets.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Google Sheets</span>
    <span matLine>Add it to Excel</span>
  </a>

  <a
    href="https://kit365.ir/"
    mat-list-item
    (click)="openLink($event)"
  >
    <span matListItemTitle>Kit365 </span>
    <span matLine>ALL Days You Need it</span>
  </a>
</mat-nav-list>
